* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style:  none;
  
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(imagen.jpg);

}

header{
  height: 100vh;
  width: 100vw;
  
}



.container{
  max-width: 1200;
  margin: 0 auto;
 


}
.menu{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {

  background-color: #050505;
  min-height: 80px;

}
.Logo{
   font-size: 40px;
   font-weight: bold;
   color: #ffffff;
   text-decoration: none;
  }
   


.menu .navbar ul li{
  position: relative;
  float: left;
}

.menu .navbar ul li a{

  font-size: 18px;
  padding: 10px 25px;
  color: #ffffff;
  border-radius: 15px;
  transition: 0.2s;
  margin: 0 5px;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

.menu .navbar ul li a:hover{
  color: #0c0c0c;
  background-color: #eb0e75;



}

#menu{
  display: none;

}

.menu-icono{
  width: 25px;
}
.menu label{
  cursor: pointer;
  display: none;

}

@media(max-width:991px){
  .content {
      min-height: 70px;
  }
  .menu{
      top: 0;
      padding: 20px;
  }
  .menu label{
      display: initial;
  }
  .menu .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #0a0a0a;
      display: none;
  }
  .menu .navbar ul li{
      width: 100%;

  }

  #menu:checked ~ .navbar{
      display: initial;

  } 

  #auth0-logout {  
  background-color: #ffffff;
  color: white;
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
      

}
};